<li>
	{{name}}
	{{#if devour}}
	<br>
	<button class="change-devour btn btn-outline-success" data-id="{{id}}" data-newdevour="{{devour}}">
		DEVOUR IT!
	</button>
	{{/if}}
	<br>
	<button class="delete-burger btn btn-outline-danger" data-id="{{this.id}}">DELETE!</button>
</li>